<table class="table table-striped">
  <tr>
    <td>Before starting</td>
    <td>Install RStudio through Software Center (see instructions below)</td>
  </tr>
  <tr>
    <td></td>
    <td><a href="{{ site.pre_survey }}{{ site.github.project_title }}" target="_blank">Pre-workshop survey</a></td>
  </tr>
  <tr>
    <td>Morning</td>
    <td><a href="https://datacarpentry.org/R-ecology-lesson/introduction-r-rstudio.html" target="_blank">Introduction to R and RStudio</a></td>
  </tr>
  <tr>
    <td></td>
    <td><a href="https://datacarpentry.org/R-ecology-lesson/visualizing-ggplot.html" target="_blank">Data visualization with ggplot2</a></td>
  </tr>
  <tr>
    <td>Afternoon</td>
    <td><a href="https://datacarpentry.org/R-ecology-lesson/how-r-thinks-about-data.html" target="_blank">Exploring and understanding data</a></td>
  </tr>
  <tr>
    <td></td>
    <td><a href="https://datacarpentry.org/R-ecology-lesson/working-with-data.html" target="_blank">Working with data</a></td>
  </tr>
</table>

